.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.menu ,table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
.menu ,th, td {
  padding: 5px;
  text-align: center;
}
.menu ,table{
  width: 100px;
  position: relative;
  /* top: 120px; */
}
.menu{
  background-color:rgb(168, 168, 168);
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
fieldset{
  margin-top: 10px;
  width:fit-content;
  margin-left: auto;
  margin-right: auto;
}

/*big screens*/
@media (min-width: 769px) {
  .button{
    background-color:grey;
    border: solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 100%;
  }
  fieldset, table{
    font-size: 15px;
    border-spacing: 20px 15px;
  }
}

/*small screens*/
@media (max-width: 768px) {
  .button{
    background-color:grey;
    padding: 10px 20px;
    border: solid;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    width: 100%;
  }
  fieldset table{
    font-size: 10px;
    border-spacing: 14px 8px;
  }
}
