.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.menu ,table, th, td {
  border-bottom: 0.2px solid #d8e3e7;
  border-collapse: collapse;
}
.menu ,th, td {
  padding: 5px;
  text-align: center;
}
.button:hover  {
  background-color:  #d8e3e7; 
  color: #132c33;
  border-radius: 20px;
}
.first_button:hover  {
  background-color:#d8e3e7;
  color:#132c33;
  border-radius: 20px;
}


@media screen and (min-width: 993px) {

  .button{
    border-top:1px solid #8f8d8d;
    color: #d8e3e7;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  .first_button{
    color: #d8e3e7;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  fieldset, table{
    font-size: 15px;
    border-spacing: 20px 15px;
  }
  .button_group{
    background-color:#132c33;
    width: fit-content;  
    text-align: center;
    align-items: center;
    position: absolute;
    left: 8%;
    top:10%;
    border-radius:25px;
    border: 2px solid #132c33;
    cursor: pointer;
  }
  .menu{
    background-color:#132c33;
    color: #aeb0b1;
    width: fit-content;  
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    text-align: center;
    cursor: pointer;
  }
  
  fieldset{
    /* margin-top: 10%; */
    width:fit-content;
    /* margin-left: auto;
    margin-right: auto; */
    background-color:#dbecd5;
    color:#132c33;
    border: 2px solid #487480;
    border-radius:10px;
    position: absolute  ; 
    top:30%;
    left: 50%;
    transform: translate(-20%, -30%);
  }

}

/******* medium screens ******************************************************/
@media screen and (max-width: 992px) {

  .button{
    border-top:1px solid #8f8d8d;
    color: #d8e3e7;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  .first_button{
    color: #d8e3e7;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  fieldset, table{
    font-size: 15px;
    border-spacing: 20px 15px;
  }
  .button_group{
    background-color:#132c33;
    width: fit-content;  
    text-align: center;
    align-items: center;
    position: absolute;
    left: 3%;
    top:10%;
    border-radius:25px;
    border: 2px solid #132c33;
    cursor: pointer;
  }
  .menu{
    background-color:#132c33;
    color: #aeb0b1;
    width: fit-content;  
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    text-align: center;
    cursor: pointer;
  }
  
  fieldset{
    width:fit-content;
    background-color:#dbecd5;
    color:#132c33;
    border: 2px solid #487480;
    border-radius:10px;
    position: absolute  ; 
    top:30%;
    left: 50%;
    transform: translate(-10%, -30%);
  }

}

/****************************** mobile screens */
@media screen and (max-width: 600px) {

  .App{
    display: flex;
  }
  .button{
    border-top:1px solid #8f8d8d;
    color: #d8e3e7;
    padding: 10px 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  .first_button{
    color: #d8e3e7;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  .button_group{
    float: left;
    background-color:#132c33;
    min-width:fit-content; 
    text-align: center;
    align-items: center;
    position: absolute;
    left: 1%;
    /* top:10%; */
    border-radius:25px;
    border: 2px solid #132c33;
    cursor: pointer;
  
  }
  .menu{
    font-size: 13px;
    background-color:#132c33;
    position: relative;
    color: #aeb0b1;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    text-align: center;
    cursor: pointer;
  }
  fieldset table{
    font-size: 10px;
    border-spacing: 10px 8px;
  }
  fieldset{
  float: right;
    width:150px;
    background-color:#dbecd5;
    color:#132c33;
    border: 2px solid #487480;
    border-radius:10px;
    position: absolute  ; 
    top:30%;
    left: 60%;
    transform: translate(-20%, -30%);
  }

}



